/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
h1 {
	color: #464646;
	text-transform: capitalize;
	}
	
h2 {
	font-size: 24px;
	color: #4bb9d2;
	text-transform: capitalize;
	margin: 0;
	line-height: 19px;
}
	
a {
	text-decoration: none;
	}

	
a:hover .navigation, a:hover .navigation large,  .navigation, .more {
	color: #4bb9d2;
	}
	
p {
	font-weight: 200;
	color: #767676	
}

.grey {
	color: #767676	
}


/* #Wrappers
================================================== */

 * {
    margin: 0;
    }
	
 html, body {
    height: 100%;
    }
	
body {
	/*background-color: blue;*/
	}
	
.wrapper {
    /*background-color: green;*/
    height: auto !important;
    margin: 0 auto -4em;
    min-height: 60%;
    padding-top: 65px;
}
	
	
	
/* #Header Wrappers
================================================== */
	

.header-wrapper {
   /* background-color: purple;*/
	background-color: #fff;
	width: auto;
	 height: 92px;
	 clear: both;
    }
	
.header {
		/*background-color: teal;*/
		background-color: #fff;
		height: 87px;
		}

/* #Nav Wrappers
================================================== */
	
.nav-wrapper {
    /*background-color: Cyan;*/
	background-color: #fff;
	width: auto;
	 height: 80px;
	 clear: both;
    }
	
.nav {
		/*background-color: BurlyWood;*/
		height: 80px;
		}




/* #footer Wrappers
================================================== */	
.footer-wrapper, .push {
    height: 4em;
	 clear: both;
    }

.footer-wrapper {
   /* background-color: red;*/
	width: auto;
    }

.footer {
		/*background-color: orangered;*/
		height: 4em;
		}

.footer p {
	font-size: 11px;
	float: left;
	}

/* #Page Styles
================================================== */

/* #Header Styles
================================================== */

.header {
    padding-top: 10px;
}

.logo {
	height: auto;
	width: 80%;
	margin: 0 10%;
}

/* #Navigation Styles
================================================== */
	

/* #Pictures styles
================================================== */

.pic_embed-container {
    height: 0;
    margin: 0;
    overflow: hidden;
    padding-bottom: 71.25%;
    position: relative;
}

.picture_area {
    margin: 20px 0 0 47px !important;
}
 
.embed-container iframe,
.embed-container object,
.embed-container embed {   
    position: absolute;   
    top: 0;   
    left: 0;   
    width: 100%;   
    height: 100%;
}

.picture {
	height: 150px !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 210px !important;
	border: thin solid #FFF;	
}

.zoom { 
    width:293px; 
    height:170px; 
    display:block; 
    position:relative; 
    overflow:hidden; 
    border:1px solid #ddd; 
    background:#fff url(../images/zoomin.png) no-repeat center;
}

.zoom img { display:none }

.zoomOverlay {
            position:absolute;
            top:0; left:0;
            bottom:0; right:0;
            display:none;
            background-image:url(../images/zoomin.png);
            background-repeat:no-repeat;
            background-position:center;
}

.image-hover:hover {
	background-color: blue;
	width: 210px;
	height: 152px;
	z-index: 1000;
	position: absolute;
	visibility: visible;
	}

	



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/